.u-block-f222-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-f222-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-f222-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/a9e497e20d52886c1034fec1445e7dcc139a525c106342ed27cb6d7379b29745a357aad91fc46f46a9e8ffd67489500f9afc828373675593637ec9_1280.jpg");
  background-position: 50% 50%;
  min-height: 512px;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 500;
  width: 882px;
  margin: 70px calc(((100% - 1140px) / 2) + 129px) 0;
}

.u-section-1-1 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  margin: 17px auto 60px calc(((100% - 1140px) / 2) + 484px);
  padding: 5px 20px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 422px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 940px) / 2) + 29px);
    margin-right: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 284px);
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 323px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
    margin-top: -16px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 266px;
    margin-bottom: 26px;
    margin-left: calc(((100% - 1140px) / 2) + 484px);
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 242px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: -69px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 304px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 152px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -31px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 345px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/467e070d1874d23732da6b0048db95b20e5f02f21f0d25d0b92b50afdc08230b57ea95e2c59f2d771a79951adbf5da38c21f46dc434746fabbdac8_1280.jpg");
  background-position: 50% 50%;
  min-height: 512px;
}

.u-section-1-2 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 500;
  width: 882px;
  margin: 70px calc(((100% - 1140px) / 2) + 129px) 0;
}

.u-section-1-2 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  margin: 17px auto 60px calc(((100% - 1140px) / 2) + 484px);
  padding: 5px 20px;
}

@media (max-width: 1199px) {
   .u-section-1-2 {
    min-height: 332px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 940px) / 2) + 29px);
    margin-right: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 284px);
  }
}

@media (max-width: 991px) {
   .u-section-1-2 {
    min-height: 323px;
  }

  .u-section-1-2 .u-text-1 {
    width: 720px;
    margin-top: -16px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 266px;
    margin-bottom: 26px;
    margin-left: calc(((100% - 1140px) / 2) + 484px);
  }
}

@media (max-width: 767px) {
   .u-section-1-2 {
    min-height: 242px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: -69px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 304px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    min-height: 152px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -31px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 345px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/dc7eb64628217470cc6b39404745bf72571f9e596c90e17ca661b05b9f2da418097ea1e749992f62dfbddab5c3f2312068f4e15ec2ae279404aae2_1280.jpg");
  background-position: 50% 50%;
  min-height: 512px;
}

.u-section-1-3 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 500;
  width: 882px;
  margin: 70px calc(((100% - 1140px) / 2) + 129px) 0;
}

.u-section-1-3 .u-btn-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 600;
  text-transform: uppercase;
  border-style: solid;
  margin: 17px auto 60px calc(((100% - 1140px) / 2) + 484px);
  padding: 5px 20px;
}

@media (max-width: 1199px) {
   .u-section-1-3 {
    min-height: 332px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 940px) / 2) + 29px);
    margin-right: calc(((100% - 940px) / 2) + 29px);
  }

  .u-section-1-3 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 284px);
  }
}

@media (max-width: 991px) {
   .u-section-1-3 {
    min-height: 323px;
  }

  .u-section-1-3 .u-text-1 {
    width: 720px;
    margin-top: -16px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 266px;
    margin-bottom: 26px;
    margin-left: calc(((100% - 1140px) / 2) + 484px);
  }
}

@media (max-width: 767px) {
   .u-section-1-3 {
    min-height: 242px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: -69px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 304px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    min-height: 152px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -31px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1-3 .u-btn-1 {
    margin-top: 345px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 940px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1044px;
  margin: 185px auto 60px;
}

.u-section-2 .u-image-1 {
  min-height: 643px;
  pointer-events: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 1s;
  --effect-scale: 1;
  background-image: url("images/group-people-working-4.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 643px;
  pointer-events: auto;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 109px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    min-height: 579px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 507px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 487px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 431px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 535px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 31px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/Screenshot_20200723_1014532.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 528px;
}

.u-section-3 .u-group-elements-1 {
  width: 728px;
  min-height: 53px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-line-1 {
  width: 153px;
  transform-origin: left center 0px;
  height: 3px;
  margin: -26px 0 0 auto;
}

.u-section-3 .u-line-2 {
  width: 153px;
  transform-origin: left center 0px;
  height: 2px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(20% - 18.4px) calc(20% - 18.4px) calc(20% - 18.4px) calc(20% - 18.4px) calc(20% - 18.4px);
  min-height: 224px;
  grid-gap: 23px 23px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 86px;
  width: 86px;
  margin: 25px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-icon-2 {
  height: 86px;
  width: 86px;
  margin: 25px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-4 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-icon-3 {
  height: 86px;
  width: 86px;
  margin: 25px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-6 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-icon-4 {
  height: 86px;
  width: 86px;
  margin: 25px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-8 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-3 .u-text-9 {
  margin: 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-3 .u-icon-5 {
  height: 86px;
  width: 86px;
  margin: 25px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-10 {
  letter-spacing: normal;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.u-section-3 .u-text-11 {
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 420px;
}

.u-section-4 .u-video-1 {
  width: 570px;
  height: 321px;
  margin: 41px 0 58px auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 180px;
}

.u-section-5 .u-group-elements-1 {
  min-height: 53px;
  height: auto;
  width: 894px;
  margin: 61px auto 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-line-1 {
  width: 153px;
  transform-origin: left center 0px;
  height: 3px;
  margin: -26px 0 0 auto;
}

.u-section-5 .u-line-2 {
  width: 153px;
  transform-origin: left center 0px;
  height: 2px;
  margin: 0 auto 20px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-elements-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-elements-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-image-1 {
  width: 720px;
  min-height: 720px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/Staff-Coffee-opener-FT-BLOG0223-bac2139beb1146bd91d94ada56ddea0b.jpg");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-6 .u-rotation-parent-1 {
  width: 609px;
  height: 734px;
  margin: -21px 44px 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 533px;
  height: 676px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 29px;
  left: 38px;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(173.19deg);
}

.u-section-6 .u-rotation-parent-2 {
  width: 467px;
  height: 488px;
  margin: -635px 20px 0 auto;
}

.u-section-6 .u-shape-2 {
  width: 488px;
  height: 467px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 10px;
  left: -10px;
  transform: rotate(90deg);
}

.u-section-6 .u-image-2 {
  height: 393px;
  width: 393px;
  background-image: url("images/Logokopi.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -402px 152px 0 auto;
}

.u-section-6 .u-group-2 {
  width: 485px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 245px;
  margin: -244px auto 39px 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0;
  padding: 20px 51px 20px 50px;
}

.u-section-6 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    height: auto;
  }

  .u-section-6 .u-shape-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    width: 540px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 540px;
    height: 651px;
    margin-right: 0;
  }

  .u-section-6 .u-rotation-parent-2 {
    margin-top: -552px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 147px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 340px;
    height: 410px;
  }

  .u-section-6 .u-rotation-parent-2 {
    width: 340px;
    height: 355px;
    margin-top: -311px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -269px;
    margin-right: 0;
  }

  .u-section-6 .u-group-2 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7 .u-image-1 {
  width: 720px;
  min-height: 720px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/organic-regular-conventional-milk.jpg");
  background-position: 50% 50%;
  margin: 40px 190px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-7 .u-rotation-parent-1 {
  width: 794px;
  height: 764px;
  margin: -4px auto 0 -43px;
}

.u-section-7 .u-shape-1 {
  width: 611px;
  height: 526px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 119px;
  left: 92px;
  transform: rotate(329.24deg);
}

.u-section-7 .u-rotation-parent-2 {
  width: 761px;
  height: 761px;
  margin: -763px auto 0 -27px;
}

.u-section-7 .u-shape-2 {
  width: 561px;
  height: 561px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transform-origin: center center 0px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotate(298.73deg);
}

.u-section-7 .u-image-2 {
  height: 393px;
  width: 393px;
  background-image: url("images/logocowboy.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -594px auto 0;
}

.u-section-7 .u-group-2 {
  width: 485px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 245px;
  margin: -245px 0 40px auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0;
  padding: 20px 51px 20px 50px;
}

.u-section-7 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: auto;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 720px;
    height: 693px;
    margin-left: 0;
  }

  .u-section-7 .u-rotation-parent-2 {
    width: 720px;
    height: 720px;
    margin-top: -691px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-2 {
    margin: -723px auto 0 73px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -496px;
  }

  .u-section-7 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    width: 540px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 540px;
    height: 520px;
  }

  .u-section-7 .u-rotation-parent-2 {
    width: 540px;
    height: 540px;
    margin-top: -518px;
  }

  .u-section-7 .u-shape-2 {
    width: 540px;
    height: 609px;
    margin-top: -545px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: -493px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
  }

  .u-section-7 .u-rotation-parent-1 {
    width: 340px;
    height: 327px;
  }

  .u-section-7 .u-rotation-parent-2 {
    width: 340px;
    height: 340px;
    margin-top: -325px;
  }

  .u-section-7 .u-shape-2 {
    width: 340px;
    margin-top: -361px;
  }

  .u-section-7 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -425px;
  }

  .u-section-7 .u-group-2 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-8 .u-image-1 {
  width: 720px;
  min-height: 720px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/TJBLOG211010_HEALTH-Herbal-Infusions_AS69586528.jpeg");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-8 .u-rotation-parent-1 {
  width: 609px;
  height: 734px;
  margin: -21px 44px 0 auto;
}

.u-section-8 .u-shape-1 {
  width: 533px;
  height: 676px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 29px;
  left: 38px;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(173.19deg);
}

.u-section-8 .u-rotation-parent-2 {
  width: 467px;
  height: 488px;
  margin: -635px 20px 0 auto;
}

.u-section-8 .u-shape-2 {
  width: 488px;
  height: 467px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 10px;
  left: -10px;
  transform: rotate(90deg);
}

.u-section-8 .u-image-2 {
  height: 393px;
  width: 393px;
  background-image: url("images/LogoToga.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -402px 152px 0 auto;
}

.u-section-8 .u-group-2 {
  width: 485px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 245px;
  margin: -242px auto 38px 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-8 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0;
  padding: 20px 51px 20px 50px;
}

.u-section-8 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-1 {
    height: auto;
  }

  .u-section-8 .u-shape-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-8 .u-group-2 {
    height: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    width: 540px;
  }

  .u-section-8 .u-rotation-parent-1 {
    width: 540px;
    height: 651px;
    margin-right: 0;
  }

  .u-section-8 .u-rotation-parent-2 {
    margin-top: -552px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 147px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    width: 340px;
  }

  .u-section-8 .u-rotation-parent-1 {
    width: 340px;
    height: 410px;
  }

  .u-section-8 .u-rotation-parent-2 {
    width: 340px;
    height: 355px;
    margin-top: -311px;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -269px;
    margin-right: 0;
  }

  .u-section-8 .u-group-2 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 800px;
}

.u-section-9 .u-image-1 {
  width: 720px;
  min-height: 720px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/xl2.jpg");
  background-position: 50% 50%;
  margin: 40px 190px 0 auto;
}

.u-section-9 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-9 .u-rotation-parent-1 {
  width: 794px;
  height: 764px;
  margin: -4px auto 0 -43px;
}

.u-section-9 .u-shape-1 {
  width: 611px;
  height: 526px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 119px;
  left: 92px;
  transform: rotate(329.24deg);
}

.u-section-9 .u-rotation-parent-2 {
  width: 761px;
  height: 761px;
  margin: -763px auto 0 -27px;
}

.u-section-9 .u-shape-2 {
  width: 561px;
  height: 561px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transform-origin: center center 0px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotate(298.73deg);
}

.u-section-9 .u-image-2 {
  height: 393px;
  width: 393px;
  background-image: url("images/LogoEkraf.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -594px auto 0;
}

.u-section-9 .u-group-2 {
  width: 485px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 245px;
  margin: -245px 0 40px auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0;
  padding: 20px 51px 20px 50px;
}

.u-section-9 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    height: auto;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 720px;
    height: 693px;
    margin-left: 0;
  }

  .u-section-9 .u-rotation-parent-2 {
    width: 720px;
    height: 720px;
    margin-top: -691px;
    margin-left: 0;
  }

  .u-section-9 .u-shape-2 {
    margin: -723px auto 0 73px;
  }

  .u-section-9 .u-image-2 {
    margin-top: -496px;
  }

  .u-section-9 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-image-1 {
    width: 540px;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 540px;
    height: 520px;
  }

  .u-section-9 .u-rotation-parent-2 {
    width: 540px;
    height: 540px;
    margin-top: -518px;
  }

  .u-section-9 .u-shape-2 {
    width: 540px;
    height: 609px;
    margin-top: -545px;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    margin-top: -493px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    width: 340px;
  }

  .u-section-9 .u-rotation-parent-1 {
    width: 340px;
    height: 327px;
  }

  .u-section-9 .u-rotation-parent-2 {
    width: 340px;
    height: 340px;
    margin-top: -325px;
  }

  .u-section-9 .u-shape-2 {
    width: 340px;
    margin-top: -361px;
  }

  .u-section-9 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -425px;
  }

  .u-section-9 .u-group-2 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 800px;
}

.u-section-10 .u-image-1 {
  width: 720px;
  min-height: 720px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/ALR-what-is-ginger-20ed1f436bee4c4085b009756c8bc4db.jpg");
  background-position: 50% 50%;
  margin: 40px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-10 .u-rotation-parent-1 {
  width: 609px;
  height: 734px;
  margin: -21px 44px 0 auto;
}

.u-section-10 .u-shape-1 {
  width: 533px;
  height: 676px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 29px;
  left: 38px;
  margin-top: 0;
  margin-bottom: 0;
  transform: rotate(173.19deg);
}

.u-section-10 .u-rotation-parent-2 {
  width: 467px;
  height: 488px;
  margin: -635px 20px 0 auto;
}

.u-section-10 .u-shape-2 {
  width: 488px;
  height: 467px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 10px;
  left: -10px;
  transform: rotate(90deg);
}

.u-section-10 .u-image-2 {
  height: 393px;
  width: 393px;
  background-image: url("images/LogoOVEJE.jpg");
  background-position: 91.74% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -402px auto 0;
}

.u-section-10 .u-group-2 {
  width: 485px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 245px;
  margin: -242px auto 38px 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-10 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0;
  padding: 20px 51px 20px 50px;
}

.u-section-10 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-1 {
    height: auto;
  }

  .u-section-10 .u-shape-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-10 .u-group-2 {
    height: auto;
  }

  .u-section-10 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    width: 540px;
  }

  .u-section-10 .u-rotation-parent-1 {
    width: 540px;
    height: 651px;
    margin-right: 0;
  }

  .u-section-10 .u-rotation-parent-2 {
    margin-top: -552px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 79px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 340px;
  }

  .u-section-10 .u-rotation-parent-1 {
    width: 340px;
    height: 410px;
  }

  .u-section-10 .u-rotation-parent-2 {
    width: 340px;
    height: 355px;
    margin-top: -311px;
    margin-right: 0;
  }

  .u-section-10 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -269px;
  }

  .u-section-10 .u-group-2 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 800px;
}

.u-section-11 .u-image-1 {
  width: 720px;
  min-height: 720px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/Honeycomb2_2048x2048.png");
  background-position: 50% 50%;
  margin: 40px 190px 0 auto;
}

.u-section-11 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-11 .u-rotation-parent-1 {
  width: 794px;
  height: 764px;
  margin: -4px auto 0 -43px;
}

.u-section-11 .u-shape-1 {
  width: 611px;
  height: 526px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform-origin: center center 0px;
  position: relative;
  top: 119px;
  left: 92px;
  transform: rotate(329.24deg);
}

.u-section-11 .u-rotation-parent-2 {
  width: 761px;
  height: 761px;
  margin: -763px auto 0 -27px;
}

.u-section-11 .u-shape-2 {
  width: 561px;
  height: 561px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transform-origin: center center 0px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotate(298.73deg);
}

.u-section-11 .u-image-2 {
  height: 393px;
  width: 393px;
  background-image: url("images/LogoTAMBENG.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -594px auto 0;
}

.u-section-11 .u-group-2 {
  width: 485px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  min-height: 245px;
  margin: -245px 0 40px auto;
}

.u-section-11 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-11 .u-text-1 {
  font-size: 3rem;
  margin: 42px 0 0;
}

.u-section-11 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 12px auto 0;
  padding: 20px 51px 20px 50px;
}

.u-section-11 .u-shape-3 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-image-1 {
    height: auto;
  }

  .u-section-11 .u-rotation-parent-1 {
    width: 720px;
    height: 693px;
    margin-left: 0;
  }

  .u-section-11 .u-rotation-parent-2 {
    width: 720px;
    height: 720px;
    margin-top: -691px;
    margin-left: 0;
  }

  .u-section-11 .u-shape-2 {
    margin: -723px auto 0 73px;
  }

  .u-section-11 .u-image-2 {
    margin-top: -496px;
  }

  .u-section-11 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-image-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-image-1 {
    width: 540px;
  }

  .u-section-11 .u-rotation-parent-1 {
    width: 540px;
    height: 520px;
  }

  .u-section-11 .u-rotation-parent-2 {
    width: 540px;
    height: 540px;
    margin-top: -518px;
  }

  .u-section-11 .u-shape-2 {
    width: 540px;
    height: 609px;
    margin-top: -545px;
    margin-left: 0;
  }

  .u-section-11 .u-image-2 {
    margin-top: -493px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    width: 340px;
  }

  .u-section-11 .u-rotation-parent-1 {
    width: 340px;
    height: 327px;
  }

  .u-section-11 .u-rotation-parent-2 {
    width: 340px;
    height: 340px;
    margin-top: -325px;
  }

  .u-section-11 .u-shape-2 {
    width: 340px;
    margin-top: -361px;
  }

  .u-section-11 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -425px;
  }

  .u-section-11 .u-group-2 {
    width: 340px;
  }

  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 994px;
}

.u-section-12 .u-text-1 {
  margin: 141px 789px 0 160px;
}

.u-section-12 .u-text-2 {
  margin: -173px 303px 0 416px;
}

.u-section-12 .u-map-1 {
  width: 1070px;
  height: 429px;
  margin: 38px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 689px;
    margin-left: 60px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 203px;
    margin-left: 316px;
  }

  .u-section-12 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: 529px;
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-right: 93px;
    margin-left: 206px;
  }

  .u-section-12 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-right: 349px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 3px;
    margin-left: 116px;
  }

  .u-section-12 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-right: 149px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-12 .u-map-1 {
    width: 340px;
  }
}